.fiche{
    height: 100%;
    margin:0px;
    padding: 0px;
    background: linear-gradient(white,#FcF3F1);
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
.mainFiche{
    margin-left: left;
    height: fit-content;
    text-align: start;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 80px;
}

.titreFiche{
    color:#236468;
    font-size: 35px;
    text-align: center;
    font-weight: normal;
   
}
.accompagnéP{
    color: #236468;
    line-height: 19px;
    font-weight: lighter;
  
}
.labelNombreEcole{
    color: #236468;
    font-size: 17px;
   
}
.inputNombreEcole{
    width: 15%;
    height: 45px;
    border-radius: 8px;
    padding: 0px;
    margin: 0px;
    border-color: #dfe1e6;
    border: 1px solid #dfe1e6;
    font-family: 'Poppins';
    padding-left: 15px;
    color: #236468;
    background-color: #f8f9f9;
    margin-bottom: 20px;
    font-size: 20px;
  }
  .containerInputLabelNombreEcole{
    display: flex;
    flex-direction: column;
  }
  /********************************************informations*****************************************************************/
  .containerInformations{
    display: flex;
    flex-direction: column;
  }
  .pInformations{
    color: #236468;
    font-size: 25px;
    text-align: center;
    margin-bottom: 0px;
  }
  .containerOngletNbreEcole{
    display: flex;
    flex-direction: row;
    color: #236468;
    font-size: 20px;
  }
  
  
.containerCouvUpload{
  background-image: url("../images/Rectangle\ 516.png");
  background-size: 100% 100%;
  height: 170px;
  width: 108%;
  position: relative;
  right: 4%;
  margin-top: 20px;
}
.uploadHidden{
  position: relative;
  bottom: 35px;
  left: 182px;
  width: 180px;
  top: 119px;
  height: 25px;
  z-index: 2;
  opacity: 0;
}
  

.uploadFront{
  width: 184px;
  height: 27px;
  border-radius: 15px;
  padding: 0px;
  margin: 0px;
  font-family: 'Poppins';
  background-color: #37beb4;
  font-size: 20px;
  position: relative;
  left: 176px;
  top: 66px;
  color: white;
  font-size: 16px;
  text-align: center;

}
.uploadLogo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 80px;
  height: 80px;
  color: white;
  background-color: #95B63A;
  font-size: 32px;
  position: relative;
  top: 3px;
  left: 12px;
}
.uploadLogo p{
  margin: 0px;
}
.uploadLogoHidden{
  position: relative;
  top: 102px;
  left: 98px;
  width: 176px;
  z-index: 2;
  opacity: 0;
}
.uploadfrontLogo{
  width: 184px;
  height: 27px;
  border-radius: 15px;
  padding: 0px;
  margin: 0px;
  font-family: 'Poppins';
  background-color: #37beb4;
  font-size: 20px;
  position: relative;
  top: 78px;
  color: white;
  font-size: 16px;
  text-align: center;
  left: 93px;
}
.buttonUpload{
  padding: 0px;
  margin: 0px;
  border: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 30px;
  font-family: 'Poppins';
  color: white;
  border-radius: 12px;
  align-items: center;
  font-size: 17px;
  font-weight: normal;
  margin-bottom: 20px;
  background-color: #37beb4;
  position: relative;
  top: 38px;
}
.pR{
  color: black;
}

