.fiche{
    height: fit-content;
    margin:0px;
    padding: 0px;
    background: linear-gradient(white,#FcF3F1);
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
.mainFiche{
    margin-left: left;
    height: fit-content;
    text-align: start;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 80px;
}

.titreFiche{
    color:#236468;
    font-size: 35px;
    text-align: center;
    font-weight: normal;
   
}
.accompagnéP{
    color: #236468;
    line-height: 19px;
    font-weight: lighter;
  
}
.labelNombreEcole{
    color: #236468;
    font-size: 17px;
   
}
.inputNombreEcole{
    width: 15%;
    height: 45px;
    border-radius: 8px;
    padding: 0px;
    margin: 0px;
    border-color: #dfe1e6;
    border: 1px solid #dfe1e6;
    font-family: 'Poppins';
    padding-left: 15px;
    color: #236468;
    background-color: #f8f9f9;
    margin-bottom: 20px;
    font-size: 20px;
  }
  .containerInputLabelNombreEcole{
    display: flex;
    flex-direction: column;
  }
  /********************************************informations*****************************************************************/
  .containerInformations{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }
  .pInformations{
    color: #236468;
    font-size: 25px;
    text-align: center;
    margin-bottom: 0px;
  }
  .containerOngletNbreEcole{
    display: flex;
    flex-direction: row;
    color: #236468;
    font-size: 20px;
  }
  
  
.containerCouvUpload{
  height: 170px;
  width: 111%;
  position: relative;
  right: 4%;
  margin-top: 20px;
}
.uploadHidden{
  position: relative;
  bottom: 35px;
  left: 182px;
  width: 180px;
  top: -93px;
  height: 25px;
  z-index: 2;
  opacity: 0;
}
.imgCouverture{
  width: 100%;
  position: relative;
  height: 100%;
}
  

.uploadFront{
  width: 184px;
  height: 27px;
  border-radius: 15px;
  padding: 0px;
  margin: 0px;
  font-family: 'Poppins';
  background-color: #37beb4;
  font-size: 20px;
  position: relative;
  left: 176px;
  top: -120px;
  color: white;
  font-size: 16px;
  text-align: center;

}
.uploadLogo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 80px;
  height: 80px;
  color: white;
  background-color: #95B63A;
  font-size: 32px;
  position: relative;
  top: -179px;
  left: 12px;
}
.uploadLogo p{
  margin: 0px;
}
.uploadLogoHidden{
  position: relative;
  top: -78px;
  left: 98px;
  width: 176px;
  z-index: 2;
  opacity: 0;
}
.uploadfrontLogo{
  width: 184px;
  height: 27px;
  border-radius: 15px;
  padding: 0px;
  margin: 0px;
  font-family: 'Poppins';
  background-color: #37beb4;
  font-size: 20px;
  position: relative;
  top: -103px;
  color: white;
  font-size: 16px;
  text-align: center;
  left: 93px;
}
.buttonUpload{
  padding: 0px;
  margin: 0px;
  border: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 30px;
  font-family: 'Poppins';
  color: white;
  border-radius: 15px;
  align-items: center;
  font-size: 17px;
  font-weight: normal;
  margin-bottom: 20px;
  background-color: #37beb4;
  position: relative;
  top: 38px;
 
}
.pR{
  color: black;
}
.EC{
  margin-right:10px;
  margin-top:0px;
  margin-bottom:0px;
}
.ECSelectionne{
  margin-right:10px;
  margin-top:0px;
  margin-bottom:0px;
  color:#37beb4
}
.buttonValidBoxcase{
  padding: 0px;
  margin: 0px;
  border: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 36%;
  height: 30px;
  font-family: 'Poppins';
  color: white;
  border-radius: 15px;
  align-items: center;
  font-size: 17px;
  font-weight: normal;
  margin-bottom: 20px;
  background-color: #37beb4;
  align-self: self-end;
  margin-top: 13px;
 
}
.pTEAndLogoMinus{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #236468;
  font-size: 23px;
  align-items: center;
  margin-top: 45px;
  height: 50px;
}
.pTEAndLogoMinus p{
  margin-bottom: 20px;
}
.containerButtonAndBoxcase{
  display: flex;
  flex-direction: column;
  
}
.containercheckBoxAndP{
  color: #236468;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: lighter;
}
.containercheckBoxAndP p{
  margin-top: 15px;
  margin-bottom: 0px;
}
.checkBoxFalse{
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 6px;
  border: 2px solid #ebecf0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.checkBoxTrue{
  width: 35px;
  height: 35px;
  background-color: #37beb4;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
.checkTrue{
  width: 15px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(19deg) brightness(104%) contrast(100%)
}
.checkFalse{
  display: none;
}
.minus{
  font-size: 25px;
  margin-bottom: 0px !important; 
  margin-top: 0px !important;
}
.containerButtonAndBoxcase2{
  display: none;
}
.containerMinus{
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ebecf0;
  border-radius: 100%;
}
.pNDAndLogoMinus{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #236468;
  font-size: 23px;
  align-items: center;
  height: 50px;
 
}
.pNDAndLogoMinus p{
  margin-bottom: 20px;
}
.inputNom{
  width: 94%;
  height: 50px;
  border-radius: 8px;
  padding: 0px;
  margin: 0px;
  border-color: #dfe1e6;
  border: 1px solid #dfe1e6;
  font-family: 'Poppins';
  padding-left: 15px;
  color: #236468;
  background-color: #f8f9f9;
  margin-bottom: 20px;
  font-size: 20px;
}
.inputDescriptif{
  width: 94%;
  height: 290px;
  border-radius: 8px;
  padding: 0px;
  padding-top:10px ;
  margin: 0px;
  border-color: #dfe1e6;
  border: 1px solid #dfe1e6;
  font-family: 'Poppins';
  padding-left: 15px;
  color: #236468;
  background-color: #f8f9f9;
  margin-bottom: 20px;
  font-size: 20px;
}
.containerNomDescription{
  display: none;
}
.containerNomDescription2{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.pLocalAndLogoMinus{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #236468;
  font-size: 23px;
  align-items: center;
  height: 50px;
}
.containerLocalisation{
  display: none;
}
.containerLocalisation2{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.pContactAndLogoMinus{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #236468;
  font-size: 23px;
  align-items: center;
  height: 50px;
}
/***********************************horaires**********************************************************/
.containerOngletBureauConduite{
  display: flex;
  flex-direction: row;
  font-size: 20px;
}
.containerOngletBureauConduite p{
  margin-top: 0px;
  margin-bottom: 0px;
  color:#6d888a;
  margin-right: 35px;
}
.bureauTrue{
  color: #37beb4 !important;
}
.bureauFalse{
  color: #6d888a !important;
}
.liseretHoraires{
  width: 100%;
  height: 2px;
  background-color: #dfe1e6;
}
.containerLiseretOnglet{
  display: flex;
  flex-direction: column;
}
.liseretOngletSelectionne{
  width: 73px;
  height: 2px;
  background-color: #37beb4;
}
.liseretOngletSelectionne2{
  display:none
}
.liseretOngletSelectionneConduite{
  width: 94px;
  height: 2px;
  background-color: #37beb4;
}
.liseretOngletSelectionneConduite2{
  display: none;
}
.containerBoxHorairesDay{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #236468;
  font-size: 18px;
  margin-bottom: 15px;
  width: 372px;
 
}
.containerBoxHorairesDay p{
  margin: 0px;
}
.containerDropBox{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.Horaires2{
  margin-right: 20px;
    width: 95px;
    height: 50px;
    /* border-radius: 13px; */
    border: 1px solid #dfe1e6;
    border-radius: 8px;
    background-color: #f8f9f9;
    /* padding: 0px; */
    font-family: 'Poppins';
    color: #6d888a;
    background-image: url('../images/iconsAwesome/caret-down-solid.svg');
    background-size: 40% 40%;
    background-repeat: no-repeat;
    background-position-x: 59px;
    background-position-y: 14px;
    -webkit-appearance: none;
    font-size: 17px;
    padding-left: 10px;
}

.ArrowDrop{
  filter: invert(60%) sepia(11%) saturate(664%) hue-rotate(136deg) brightness(83%) contrast(78%);
  width: 20px;
}
.containerHorairesCalendar{
  display: flex;
  flex-direction: column;
  font-size: 22px;
  color: #236468;
}
.containerHorairesBureau2{
  display:none
}
.containerHorairesBureau{
  display: flex;
  flex-direction: column;
}
.containerHorairesConduite{
  display: flex;
  flex-direction: column;
}
.containerHorairesConduite2{
  display:none
}
/********************formations******************************************/
.pFormationAndLogoMinus{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #236468;
  font-size: 23px;
  align-items: center;
  height: 50px;
}
.containerFormation{
  display: flex;
  flex-direction: column;
}
.containerOngletsFormation{
  display: flex;
  flex-direction: row;
  width: 356px;
}
.categorieOngletandLiseret{
  display: flex;
  flex-direction:column;
  color:#236468;
  font-size: 20px;
  margin-right: 15px;
}
.categorieOngletandLiseret2{
  display: flex;
  flex-direction:column;
  color:#37beb4;
  font-size: 20px;
  margin-right: 15px;
}
.categorieOngletandLiseret p{
  margin:0px
}
.categorieOngletandLiseret2 p{
  margin: 0px;
}
.liseretCateg{
  height: 2px;
  background-color:#37beb4;
  width: 50px;
}
.liseretCateg2{
  display: none;
}
.containerFormation2{
  display: none;
}
.pForfaitAndLogoMinus{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #236468;
  font-size: 19px;
  align-items: center;
  height: 50px;
  margin-top: 15px;
}
.pForfaitAndLogoMinus p{
  margin:0px;
  
}
/***************Etablissements**************/
.containerEtablissements{
  display: flex;
  flex-direction: column;
}
.containerFormations{
  display: flex;
  flex-direction: column;
}
.containerArray{
  display: flex;
  flex-direction: row;
}
/***********************ajouter une école*******************************/
.buttonAddEcole{
  padding: 0px;
  margin: 0px;
  border: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 45px;
  font-family: 'Poppins';
  color: white;
  border-radius: 12px;
  align-items: center;
  font-size: 17px;
  font-weight: normal;
  margin-bottom: 20px;
  background-color: #37beb4;
}
.buttonAddEcole2{
  display: none;
}

.containerNomEtaButtonValider{
  display: flex;
  flex-direction: column;
}
.containerNomEtaButtonValider2{
  display: none;
}
.containerInformations2{
  display: none;
}