.mainPopUpSupprimer{
    height: 240px;
    width: 100%;
    background-color: pink;
    position: relative;
    z-index: 3;
}
.mainPopUpSupprimer2{
    display: none;
}
.containerButtonPopUpSup{
    display: flex;
    flex-direction: row;
}