@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Crimson+Text&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,400;1,500;1,600;1,900&family=Poppins:wght@200;500&display=swap');

.TunnelEcole{
    height: 100%;
    margin:0px;
    padding: 0px;
    background: linear-gradient(white,#FcF3F1);
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
/******************************************navBar****************************************************************/

  /************************************main*****************************************************/
  .mainTunnel1{
    margin-left: left;
    height: fit-content;
    text-align: start;
    margin-left: 10px;
    margin-right: 10px;
  }
.pTrouveEcole{
    display:flex;
    flex-direction: row;
    text-align: start;
    font-size: 40px;
    font-weight: normal;
    margin-top: 80px;
    line-height: 46px;
   
}
.trouve{
    color:#236468;
    font-size: 40px;
    font-weight: normal;
    width: fit-content;
    margin: 0px;
}
.pEcoleDeConduite{
    color:#37beb4;
    font-size: 41px;
    font-weight: normal;
    width: fit-content;
    margin: 0px;
    margin-left: 10px;
}
.pAdapte{
    color:#236468;
    font-size: 40px;
    font-weight: normal;
    width: fit-content;
    margin: 0px;
    line-height: 48px;
    
}
.pConduite{
    color:#37beb4;
    font-size: 40px;
    font-weight: normal;
    width: fit-content;
    margin: 0px;
    line-height: 48px;
}
   

.pQuelPermis{
    margin-bottom: 0px;
    color:#236468;
    font-size: 30px;
    
}
.containerButtonPermis{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.buttonPermis{
    width: 100%;
    padding: 0px;
    border:none;
    margin: 0px;
    border-radius: 8px;
    background-color: white;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90px;
    font-size: 20px;
    font-family: 'poppins';
    color:#236468;
    box-shadow: 0px 5px 8px #DCDCDC
}
.buttonPermis p {
    margin:0px
}
.voiture{
    width:35px;
    filter: invert(21%) sepia(13%) saturate(4828%) hue-rotate(145deg) brightness(101%) contrast(94%)
}
.moto{
    width: 35px;
    filter: invert(21%) sepia(13%) saturate(4828%) hue-rotate(145deg) brightness(101%) contrast(94%)
}
.bateau{
    width: 35px;
    filter: invert(21%) sepia(13%) saturate(4828%) hue-rotate(145deg) brightness(101%) contrast(94%)
}
/**************************revenir************************************/
.containerRevenir{
  display: flex;
  flex-direction: row;
  color: #236468;
  font-size: 20px;
  font-weight: normal;
  margin-top:40px;
}
.arrowRetour{
  width:25px;
  filter: invert(21%) sepia(13%) saturate(4828%) hue-rotate(145deg) brightness(101%) contrast(94%);
  transform: rotate(0.5turn);
  margin:0px;
}


.containerRevenir p{
  margin:0px;
  margin-left:15px  
}

